**/bin/
**/target/
**/build/
**/.gradle/
**/.DStore
**/.DS_Store
**/.settings
**/.project
**/.classpath
**/.idea
**/*.iml
/storage/
/.moduledata/
/data.dat
include/osh-addons
/sensors/satellite-tasking
